# Este archivo debe ir en la raíz del repositorio (al lado de .git) 

[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
*.log

# Archivos de Blender [cite: 2]
*.blend1
*.blend1.meta

# Capturas de memoria y grabaciones
[Mm]emoryCaptures/
[Rr]ecordings/

# Plugins de Editor
[Aa]ssets/Plugins/Editor/JetBrains*
*.DotSettings.user

# Directorios de cache
.vs/
.gradle/

# Archivos de proyecto y solución autogenerados
ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Archivos meta y reportes de crash
*.pidb.meta
*.pdb.meta
*.mdb.meta
sysinfo.txt
mono_crash.*

# Builds finales
*.apk
*.aab
*.unitypackage
*.unitypackage.meta
*.app
crashlytics-build.properties

# TestRunner
InitTestScene*.unity*

# Addressables
ServerData
[Aa]ssets/StreamingAssets/aa*
[Aa]ssets/AddressableAssetsData/link.xml*
[Aa]ssets/Addressables_Temp*
[Aa]ssets/AddressableAssetsData/*/*.bin*

# Visual Scripting [cite: 3]
[Aa]ssets/Unity.VisualScripting.Generated/VisualScripting.Flow/UnitOptions.db
[Aa]ssets/Unity.VisualScripting.Generated/VisualScripting.Flow/UnitOptions.db.meta
[Aa]ssets/Unity.VisualScripting.Generated/VisualScripting.Core/Property Providers
[Aa]ssets/Unity.VisualScripting.Generated/VisualScripting.Core/Property Providers.meta

# Escenas generadas por tests
[Aa]ssets/[Ii]nit[Tt]est[Ss]cene*.unity*